.wrapper-who{
    position: relative;
    height: 1029px;
    padding: 0;
    max-width: 1920px;
}
.who-container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 74px 30px 0 30px;

    /* padding: 95px 0 0 0; */
}
.who-content-left{
    padding: 95px 0 0 0;
}
.who-content-left p{
    margin: 0;
}
.who-text-lage p:nth-child(1){
    font-family: Sair bold;
    font-size: 65px;
}
.who-text-lage p:nth-child(2){
    font-family: Sair bold;
    position: relative;
    margin-top: -43px;
    font-size: 65px;
}
.who-text-lage p:nth-child(2)::before{
    background-image: url(../image/who/under-text.png);
    content: "";
    position: relative;
    width: 185px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    top: 85px;
    left: 280px;
}
.who-text-small{
    font-family: Poppins regular;
    font-size: 16px;
    opacity: 0.7;

}
.who-text-small p{
    margin-top: 6px;
}
.see-more-about{
    position: relative;
}
.see-more-about::before{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    position: absolute;
    background-color: red;
    top: 20px;
    right: 70px;
}
.who-content-right{
    display: block;
    margin-top: 45px;
}
.who-content-right img{
    margin: 0 auto;
}